### Question 1

In [3]:
def factorial(n):
    fac = 1
    for i in range(1,n+1):
        fac = fac*i
    return fac

In [6]:
factorial(9)

362880

### Question 2

In [9]:
def mulTable(n):
    for i in range(1,11):
        print(n ,'x' , i , '=' , n*i)

In [10]:
mulTable(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### Question 3

In [11]:
def fib(n):
    l  = [0,1]
    for i in range(n):
        k = l[i]+l[i+1]
        l.append(k)
    return l

In [12]:
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

### Question 4

In [21]:
def Armstrong(n):
    l=[]
    s=0
    string = str(n)
    for i in string:
        l.append(i)
    k = len(l)
    for i in l:
        s = s+(int(i)**k)
    if n==s:
        print('Armstrong number')
    else:
        print('Not Armstrong number')

In [26]:
Armstrong(1634)

Armstrong number

### Question 5

In [37]:
def allArmstrong(a,b):
    for i in range(a,b):
        l=[]
        s=0
        string = str(i)
        for j in string:
            l.append(j)
        k = len(l)
        for p in l:
            s = s+(int(p)**k)
        if i==s:
            print(i)

In [38]:
allArmstrong(1,1000)

1
2
3
4
5
6
7
8
9
153
370
371
407

### Question 6

In [39]:
def sum(n):
    s = (n*(n+1))/2
    return s

In [40]:
sum(10)

55.0